body {
    background-color: #F2FCFF;
}

div#header {
  padding: 0px;
}

div#top {
  margin: 30px 0;
}


.contact-section {
    background-color: #A3C3CE; /* Replace with the actual color you want */
    padding: 30px;
    margin-top: 50px ;
    color: #ffffff ;
}
.contact-email {
    color: #ffffff; /* Replace with the actual color you want */
}

img#medecin {
    width: 60%;
}

div#medecin {
    padding: 3%;
    background-color: #A4A3CE;
    border-radius: 51px;
}

div#patient {
    padding: 4%;
    background-color: #ffffff;
    border-radius: 51px;
}

h1 {
color: #568EA3;
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-bottom: 15px;
font-family: 'Nexa', sans-serif;
margin: 20px 0px;
}

h2{
    color: #A4A3CE;
    font-family: Nexa;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'Nexa', sans-serif;

}

h2#medecin{
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'Nexa', sans-serif;

}

p#intro{
text-align: justify;
color: #568EA3;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: 'Circe', sans-serif;
margin: 50px 0;
}

h5#patient {
    text-align: center;
    color: #5856A3; 
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'Nexa', sans-serif;
}

p#patient {
    text-align: center;
    font-family: Circe;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Circe', sans-serif;
}

h5#medecin {
    text-align: center;
    color: #fff;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'Nexa', sans-serif;
}

p#medecin {
    text-align: center;
    font-family: Circe;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    font-family: 'Circe', sans-serif;
}


div#test {
    width: 90%;
    
}

.button-custom {
    padding: 10px 25px; /* Adjust size as required */
    background-color: #A4A3CE; /* The button's background color */
    border: none;
    border-radius: 25px; /* Rounded corners */
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size as required */
    font-weight: bold; /* Bold text */
    box-shadow: 2px 2px 5px #999; /* Box shadow for a slight 3D effect */
    transition: all 0.3s; /* Smooth transition for hover effects */
    cursor: pointer; /* Cursor to pointer to indicate it's a button */

  }

  .button-custom:hover {
    background-color: #A4A3CE; /* Slightly darker shade on hover */
    box-shadow: 4px 4px 10px #666; /* Larger shadow on hover for a "lifting" effect */
  }


  .button-custom2 {
    padding: 10px 25px; /* Adjust size as required */
    background-color: #5856A3; /* The button's background color */
    border: none;
    border-radius: 25px; /* Rounded corners */
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size as required */
    font-weight: bold; /* Bold text */
    box-shadow: 2px 2px 5px #999; /* Box shadow for a slight 3D effect */
    transition: all 0.3s; /* Smooth transition for hover effects */
    cursor: pointer; /* Cursor to pointer to indicate it's a button */
  }

  .button-custom2:hover {
    background-color: #5856A3; /* Slightly darker shade on hover */
    box-shadow: 4px 4px 10px #666; /* Larger shadow on hover for a "lifting" effect */
  }

  .tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: #A4A3CE;
    border-bottom: 3px solid transparent; /* Invisible border to reserve space */
    transition: color 0.3s, border-color 0.3s;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  /* Active state styles */
  .tab.active {
    color: #5856A3;
    border-bottom: 3px solid #5856A3;
  }

  /* Container to hold tabs */
  .tab-container {
    text-align: center;
    font-family: 'Nexa', sans-serif;
    padding-bottom: 25px;
  }

.inscription-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .inscription-container h2 {
    text-align: center;
    color: #333;
  }

  .form-control {
    margin-bottom: 20px!important;
    width: 80%;
    margin: auto;
    border-radius: 20px;
  }

  .form-control input {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Add this line to include padding in the input width */
  }

  .form-control label {
    display: block;
    color: #666;
  }

  .btn {
    background-color: #837dff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box; /* Add this line to include padding in the button width */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    border-radius: 25px;
  }

  .btn:hover {
    background-color: #736cde;
  }

  div#footer {
    padding: 0px;
  }

  h5#exampleModalLabel {
    margin-left: 35%;
    color: #736cde;
    font-weight: bold;
}

button:focus {
  outline: none;
}



@media only screen and (max-width: 759px) {
  div#test-2, .tab-container, div#header {
    display: none;
  }
}
@media only screen and (min-width: 759px) {
div#carrousel-mobile {
  display: none;
}
}



.toggle-btns {
  text-align: center;
  display: flex;
  width: 80%;
  margin: auto;
}

.toggle-btn {
  background-color: #ffffff; /* Fond blanc par défaut */
  color: #A4A3CE;
  width: 50%; /* Prendre la moitié de la largeur du parent */
  padding: 10px 0; /* Ajustez le padding selon votre design */
  font-size: 12px; /* Taille de police selon votre design */
  line-height: 1.5; /* Hauteur de ligne pour centrer verticalement le texte */
  border: none; /* Bordure subtile */
  display: inline-block; /* Utiliser inline-block pour aligner les boutons côte à côte */
  cursor: pointer; /* Changement de curseur pour indiquer un élément cliquable */
  border-radius: 0; /* Pas d'arrondis aux angles */
  margin: 0; /* Aucune marge entre les boutons */
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; /* Transition douce */
  font-weight: bold;
}

/* Style pour le bouton actif */
.toggle-btn.active {
  color: #5856A3;
  border-bottom: solid 1px #5856A3;
}

/* Supprimer les styles par défaut des boutons pour le focus */
.toggle-btn:focus {
  outline: none; /* Enlever l'outline par défaut */
  box-shadow: none; /* Enlever l'ombre de la boîte par défaut */
}

/* Assurer la clarté de l'arrière-plan du bouton inactif au survol */
.toggle-btn:not(.active):hover {
  background-color: #f8f9fa; /* Fond plus clair au survol pour le bouton inactif */
}


div#carrousel-item2 {
  background-color: #A4A3CE;
  width: 90%;
  padding: 50px;
  border-radius: 50px;
}

div#carrousel-item1 {
  background-color: #fff;
  width: 90%;
  padding: 50px;
  border-radius: 50px;
}


.carousel-control-next-icon {
  background-color: #5856a3!important;
  border-radius: 50px;
}

.carousel-control-prev-icon {
  background-color: #5856a3!important;
  border-radius: 50px;
}

h4.card-title {
  font-size: 20px;
  margin-bottom: 30px;
}
h5.card-title {
  font-size: 17px;
  margin:20px 0px;
}


/* @media only screen and (min-width: 759px) {
div#top{
  background-image: url(assets/header-mobile.png);
  background-repeat: no-repeat;
  background-size: 80%;
}
} */

@media only screen and (max-width: 759px) {
  div#top {
    background-image: url(assets/header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px;
  }
  }
  @media only screen and (max-width: 759px) {
  .background-mobile{
margin-top: 70px;

  }}

  @media only screen and (max-width: 759px) {
  p#intro{
 margin: 20px 0px;
  }
}

@media only screen and (max-width: 759px) {
.button-custom, .button-custom2{
font-size: 14px;
}
}